/* header */
header {
  position: fixed;
  z-index: 9;
  background-color: var(--Whitebg);
  right: 0;
  left: 0;
  top: 0;
}

body.menu-open {
  touch-action: none;
  overflow: hidden;
}

body.menu-open::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  z-index: 99;
}

.navbar {
  padding: 20px 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Whitebg);
}

.navbar-branding {
  place-content: center;
}

.navbar-brand img {
  width: auto;
}

.navbar-brand {
  display: inline-block;
}

.nav-link {
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Barlow-Medium";
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin: 14px 0;
}

.nav-link.isactive {
  color: rgb(254 147 0 / 80%);
}

ul.nav {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 0;
}

.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  border: none;
  background-color: transparent;
  gap: 8px;
  padding: 0;
}

.menu-toggle span {
  display: inline-block;
  height: 2px;
  width: 30px;
  background-color: var(--Blackbg);
}

header .dropdown {
  position: relative;
}

header .dropdown .dropdown-menu.view-dropdown {
  display: block;
}

header .dropdown.view-dropdown .nav-link::after {
  transform: rotate(180deg);
}

header .dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  width: 20rem;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--Whitebg);
  list-style: none;
  padding: 10px;
  border: 1px solid #202124;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.nav-item.dropdown>.nav-link::after {
  content: "";
  display: inline-block;
  margin-left: 6px;
  padding: 2px;
  width: 14px;
  height: 14px;
  background: url(../images/dropdown-arrow.svg) no-repeat center;
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

header .dropdown-menu li>.nav-link:hover {
  background-color: rgb(254 147 0 / 80%);
  border-radius: 8px;
}

header .dropdown-menu li>.nav-link {
  padding: 10px 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

input,
input::placeholder {
  font-family: "Barlow-Medium";
  color: var(--TextThemeBlack);
}

input::placeholder {
  text-transform: uppercase;
}

.search-input {
  background: url(../images/search-icon.svg) no-repeat 16px;
  padding: 14px 20px;
  font-size: 16px;
  width: 100%;
  cursor: auto;
  background-position-y: center;
  background-position-x: 90%;
  border: 1px solid #202124;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.search-input.close {
  background: url(../images/close-icon.svg) no-repeat right 16px center;
  background-size: 20px;
  cursor: pointer;
}

.circle-icon {
  min-width: 50px;
  min-height: 50px;
  max-width: max-content;
  border: 1px solid #202124;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.menu-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.scrolled .header-bar {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}

.header-bar {
  background-color: var(--bgThemeBlack);
  padding: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 40px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  transform: translateY(0%);
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  -o-transform: translateY(0%);
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.header-bar p {
  margin: 0;
}

.header-bar .icon {
  margin-right: 12px;
  vertical-align: middle;
}

/* end */
.sec-padding {
  padding: 120px 0;
}

.sec-mt {
  margin-top: 130px;
}

.sec-pt-80 {
  padding-top: 80px;
}

.sec-pt-40 {
  padding-top: 40px;
}

.sec-pb-80 {
  padding-bottom: 80px;
}

/* pattern--between the sections */
.pattern::before,
.pattern::after {
  content: "";
  background-repeat: no-repeat;
  background-size: 100%;
  height: 60px;
  width: 100%;
  display: block;
}

.pattern.black::before,
.pattern.black::after {
  background-image: url(../images/pattern-black.svg);
}

.pattern.white::before,
.pattern.white::after {
  background-image: url(../images/pattern-white.webp);
}

.pattern.orange::before,
.pattern.orange::after {
  background-image: url(../images/pattern-orange.svg);
}

.pattern.blue::before {
  background-image: url(../images/pattern-blue.svg);
}

.pattern.transform::before {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.pattern.hide::after {
  display: none;
}

.selling-products.pattern.black::before,
.choose-sec.pattern.black::after {
  background-color: var(--bgBlue);
}

.selling-products.pattern.black::after {
  background-color: var(--bgOrange);
}

.two-column-sec.pattern.white::before {
  background-color: var(--bgOrange);
}

.choose-sec.pattern.black::before,
.first.selling-products.pattern::before {
  background-color: var(--Whitebg);
}

.marquee-wrapper.pattern.orange::before {
  background-color: var(--bgThemeBlack);
}

/* end */
/* footer */
footer {
  background-color: var(--bgThemeBlack);
  overflow: hidden;
  position: relative;
}

footer.pattern::before {
  background-image: url(../images/pattern.webp);
}

.footer-item-wrapper {
  padding-left: 80px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.footer-item {
  flex: 1;
}

.footer-item h4,
.contact-item h4 {
  font-family: "Barlow-SemiBold";
  color: var(--whiteText);
  text-transform: capitalize;
}

ul.footer-links {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 0;
}

.footer-heading {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 65px 0 0;
}

.footer_text {
  color: var(--whiteText);
}

.contact-details.d-grid {
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 32px;
  border: 1px solid #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  margin-top: 60px;
}

address {
  font-style: normal;
}

.contact-item.timing span {
  display: block;
}

.flex-left {
  display: flex;
  align-items: center;
  gap: 50px;
}

.flex-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

footer .circle-icon {
  border-color: rgba(255, 255, 255, 20%);
}

.social-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}

.copyright {
  padding: 24px 0 30px;
  border-top: 1px solid rgb(255, 255, 255, 20%);
}

/* end */

/* homepage */
.hero-section {
  position: relative;
  z-index: 1;
  height: 790px;
}

.masked {
  height: 100%;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg width="1920" height="760" xmlns="http://www.w3.org/2000/svg"><path d="M1920 0H0V221V536.457V673.543C240.665 708.305 581.753 760 960 760C1338.25 760 1679.34 708.305 1920 673.543V536.457V221V0Z" fill="white"/></svg>') bottom / cover no-repeat;
  mask: url('data:image/svg+xml;utf8,<svg width="1920" height="760" xmlns="http://www.w3.org/2000/svg"><path d="M1920 0H0V221V536.457V673.543C240.665 708.305 581.753 760 960 760C1338.25 760 1679.34 708.305 1920 673.543V536.457V221V0Z" fill="white"/></svg>') bottom / cover no-repeat;
}

.bg-curve {
  position: absolute;
  height: 100%;
  bottom: -20px;
  right: 0;
  left: 0;
  z-index: -1;
  background: url('data:image/svg+xml;utf8,<svg width="1920" height="760" xmlns="http://www.w3.org/2000/svg"><path d="M1920 0H0V221V536.457V673.543C240.665 708.305 581.753 760 960 760C1338.25 760 1679.34 708.305 1920 673.543V536.457V221V0Z" fill="%2300B9FE"/></svg>') bottom / cover no-repeat;
}

.img-opacity {
  opacity: 60%;
}

.homepage .masked {
  background: rgba(32, 33, 36, 0.6) url(../images/hero-img.webp) no-repeat;
  background-position: center bottom;
  background-size: 100%;
  background-blend-mode: multiply;
}

.hero-section-heading {
  position: absolute;
  inset: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
}

.hero-section-heading h1 {
  color: var(--TextThemeBlack);
  text-transform: uppercase;
  font-family: "Barlow-Bold";
}

.hero-section-heading p {
  margin: 20px 0 40px;
}

.homepage .hero-section-heading h1 {
  color: var(--whiteText);
}

/* primary btn */
.primary-btn {
  font-family: "Barlow-Medium";
  font-size: 20px;
  text-transform: uppercase;
  padding: 18px 32px;
  border: 1px solid #202124;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--bgOrange);
  max-width: fit-content;
  margin: 0 auto;
}

.primary-btn.bg-blue {
  background-color: var(--bgBlue);

}

/* end */
.awards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.awards-wrap {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  transform: translateY(50%);
}

.low-voc-version {
  padding: 40px 50px;
  background-color: var(--bgSkyBlue);
  border: 1px solid #202124;
  text-align: center;
  text-transform: uppercase;
}

.low-voc-wrap {
  place-self: center;
  margin: 130px 0 80px;
}

.btn-pill {
  display: inline-flex;
  gap: 12px;
  padding: 16px;
}

.contact-buttons {
  display: inline-grid;
  gap: 10px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 30px;
}

.contact-img {
  background-color: var(--Whitebg);
  border: 1px solid #202124;
}

.contact-img img,
.contact-img .primary-btn {
  margin: 0 auto;
  text-align: center;
}

.section-title h2 {
  text-transform: uppercase;
  font-family: "Barlow-ExtraBold";
}

.section-title p {
  margin: 40px 0;
}

.contact-us .d-grid {
  gap: 80px;
}

.form-grid.d-grid {
  row-gap: 40px;
  column-gap: 16px;
  padding: 0 0 40px;
}

.form-field,
textarea {
  background-color: var(--Whitebg);
  border: 1px solid #202124;
  padding: 20px 20px;
  font-size: 16px;
  font-family: "Barlow-Medium";
  color: var(--TextThemeBlack);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  width: 100%;
}

.form-field::placeholder,
textarea::placeholder {
  font-size: 16px;
  font-family: "Barlow-Medium";
  text-transform: uppercase;
  color: var(--TextThemeBlack);
}

.form-field:focus-visible,
textarea:focus-visible {
  outline: 1px solid;
}

textarea {
  border-radius: 25px;
  grid-column: 1 / -1;
}

.clear {
  margin-top: -1px;
}

.counter-sec.d-grid {
  grid-template-columns: repeat(3, 230px);
  gap: 32px;
  padding: 40px 0 0;
}

.counter-item h2 {
  color: var(--BlueText);
  margin-bottom: 20px;
  line-height: 1;
}

.counter-item sub {
  display: inline-block;
  margin-left: 4px;
  vertical-align: text-top;
  line-height: 1;
  padding-top: 10px;
}

.counter-item p {
  margin: 0;
}

.counter-item:last-child {
  padding-right: 30px;
}

.video-container {
  position: relative;
  height: 630px;
}

#play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  cursor: pointer;
  padding: 0 0 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  background-color: var(--bgOrange);
}

.video-container.playing #play, .video-container.playing .play-remove {
  display: none;
}

.video-thumbnail {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.choose-sec .section-title {
  margin-right: 130px;
  place-self: center;
}

.two-column-sec .d-grid {
  grid-template-columns: repeat(2, 750px);
  justify-content: space-between;
}

.column-desc p {
  margin: 0 0 20px;
}

.column-content.left .column-desc p {
  font-size: 32px;
}

.column-desc {
  padding: 40px 0 0;
}

.circle-list li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #FE9300;
  border: 1px solid #202124;
  border-radius: 50%;
}

.circle-list li {
  position: relative;
  padding-left: 25px;
}

.warranty-content {
  max-width: 82%;
  margin: 0 auto;
  text-align: center;
}

.warranty-banner .van-img {
  position: absolute;
  inset: auto 90px 0 auto;
}

.warranty-banner .warranty-img {
  position: absolute;
  z-index: 1;
  inset: auto auto -80px 84px;
}

.product-usecases {
  text-align: center;
}

.usecase-item {
  border-radius: 50px;
  background-color: var(--Whitebg);
  border: 1px solid;
  padding: 20px 0;
}

.product-usecases .primary-btn {
  margin: 40px 0 0;
}

.product-usecases .d-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.how-to-apply .d-grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;

}

.apply-item {
  text-align: center;
}

.apply-item .circle-icon {
  display: inline-flex;
  padding: 26px;
  margin-bottom: 40px;
}

/* marquee */
.marquee {
  overflow: hidden;
}

.marquee-content span {
  color: var(--whiteText);
  font-size: 32px;
  font-family: "Barlow-SemiBold";
  text-transform: uppercase;
  padding: 0 60px;
}

.marquee-content {
  overflow: hidden;
  position: relative;
}

.marquee-flex {
  display: flex;
  flex-wrap: wrap;
  width: max-content;
  animation: marquee-animate 20s linear infinite;
  -webkit-animation: marquee-animate 20s linear infinite;
}

.marquee-flex:hover {
  animation-play-state: paused;
}

@keyframes marquee-animate {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.main-swiper-slider {
  padding: 0 0 120px;
}

.main-swiper-slider .swiper {
  margin: 80px 0 0;
  padding: 0 0 80px;
}

.before-after-img {
  position: relative;
  overflow: hidden;
  border: 1px solid #202124;
}

.slider-aft,
.slider-bef {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider-bef {
  z-index: 2;
}

.handle-wrapper {
  position: relative;
  width: 8px;
  height: 600px;
  left: 50%;
  z-index: 9;
}

.slider-bar {
  width: 8px;
  height: 100%;
  position: absolute;
  left: -2px;
  background-color: var(--bgBlue);
}

.slider-handle {
  position: relative;
  top: 50%;
  left: -20px;
  z-index: 100;
  opacity: 1;
  cursor: ew-resize;
}

.bef_img,
.aft_img {
  max-width: max-content;
  width: 100%;
}

.b_left_radius {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

.b_right_radius {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.main-slide-item.d-grid {
  gap: 50px;
}

.review-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rating.circle-icon {
  padding: 16px 20px;
  border-radius: 50px;
  gap: 10px;
}

.review-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.review-text.expanded {
  display: block;
}

.read-more-link {
  cursor: pointer;
  color: var(--TextOrange);
  font-size: 20px;
  font-family: "Barlow-SemiBold";
  padding: 14px 0 0;
}

.review-images .review_img {
  /* max-width: 150px; */
  height: 150px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.review-images {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(150px, max-content));
  margin: 18px 0 34px;
}

.user_img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.flex-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.user-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.product_img {
  width: 66px;
  height: 66px;
}

.product-info .circle-icon {
  background-color: #E4F0F4;
  border: none;
  padding: 8px;
}

.change-next.circle-icon {
  background-color: var(--Whitebg);
  border: 1px solid #202124;
}

.review-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* swiper slider */
.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 20px;
  left: 0;
  width: fit-content;
}

.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 16px 0 0;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: width 0.4s ease;
  -webkit-transition: width 0.4s ease;
  -moz-transition: width 0.4s ease;
  -ms-transition: width 0.4s ease;
  -o-transition: width 0.4s ease;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 60px;
  background-color: var(--bgThemeBlack);
}

.custom-button-prev,
.custom-button-next {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 20px 26px;
  gap: 10px;
  cursor: pointer;
  bottom: 0;
  top: auto;
  right: 0;
  display: inline-flex;
  position: absolute;
}

.custom-button-prev {
  right: 7.5em;
}